@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor Accessor
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from technext.github.io/fruitkha/index_2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 03 Dec 2022 04:43:03 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

    <!-- title -->
    <title>TinaNguyen - Beauty & Fashion</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="~/assets/img/favicon.png">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="~/assets/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
          integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    @RenderSection("styles", false)
</head>
<body>
    <style>
        body {
            font-family: 'Quicksand', sans-serif;
        }

        .disable {
            pointer-events: none;
            cursor: default;
        }

        .page {
            padding: 0px 10px;
            color: #F28123;
        }

        .pagination {
            padding: 20px;
            cursor: pointer;
            user-select: none;
        }

        .nav {
            display: flex;
            flex-wrap: wrap;
            padding: 0 10px;
            margin-bottom: 5px;
            list-style: none;
            border: 1px solid #F28123;
            border-radius: 0.25rem;
            font-size: 14px;
        }

        a {
            display: inline-block;
            margin: 5px;
            cursor: pointer;
            color: #fff;
        }

            a.page.current {
                color: #fff;
            }

                a.page.current:hover {
                    color: #fff;
                    background-color: #F28123;
                }


        .disabled {
            opacity: .3;
            pointer-events: none;
            cursor: not-allowed;
        }

        a:not([href]):hover {
            color: #fff;
            text-decoration: none;
            background-color: #F28123;
        }

        .page {
            border: 1px solid #F28123;
            border-radius: 0.25rem;
        }

        a.page:hover {
            transition: none;
            background-color: #F28123;
            color: white;
        }

        .current {
            background-color: #F28123;
            color: #fff;
        }

        .table-bordered > :not(caption) > * {
            border-width: 1px 1px;
        }

        .btn-group-sm > .btn, .btn-sm {
            padding: 0.1875rem 0.75rem;
            font-size: .675rem;
            border-radius: 0.25rem;
        }

        .badge-soft-primary {
            color: #1c4f93;
            background-color: #d5e5fa;
        }

        .badge-soft-success {
            color: #00864e;
            background-color: #ccf6e4;
        }

        .badge-soft-secondary {
            color: #7d899b;
            background-color: #e3e6ea;
        }

        .badge-soft-warning {
            color: #9d5228;
            background-color: #fde6d8;
        }

        .btn-soft-primary {
            color: #fff;
            background-color: #64c5b1;
        }

        .card {
            border: none;
            box-shadow: 0 0 20px #e4e4e4;
            padding-bottom: 20px;
            border-radius: 5px;
            margin-bottom: 30px;
            transition: 0.3s;
            min-height:500px;
        }

        .card-body {
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            min-height: 200px;
            padding: 1.25rem;
        }

        .card:hover {
            box-shadow: none;
        }

        .product-images img {
            width: 100%;
            min-height: 240px;
            border-radius: 5px;
            transition: 0.3s;
        }

        h5, .h5 {
            margin-bottom: 0.01rem;
            font-size: 1rem;
        }

        .fs-md-2 {
            font-size: 1.44rem !important;
            color: #F28123;
            padding-left: 5px;
        }

        .fs-0 {
            font-size: 1rem !important;
        }

        .text-name {
            text-decoration: none;
        }

        .text-name:hover {
            text-decoration: underline;
        }

        .fs--1 {
            font-size: .8333333333rem !important;
            padding-left: 5px;
        }

        a.btn-card {
            margin-left: 20px;
        }

        a.more-product {
            text-decoration:none;
        }

        a.more-product:hover {
            text-decoration: underline;
        }

    </style>
    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
    <!-- header -->
    <div class="top-header-area" id="sticker" style="font-family: 'Quicksand', sans-serif;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="main-menu-wrap">
                        <!-- logo -->
                        <div class="site-logo" style="width: 150px; height: 55px; padding-bottom: 30px">
                            <a asp-page="/Index">
                                <img src="~/assets/img/Frame_1-removebg-preview.png" alt="TinaNguyen" style="
									width: 150px; height: 55px">
                            </a>
                        </div>
                        <!-- logo -->
                        <!-- menu start -->
                        <nav class="main-menu">
                            <ul>
                                <li>
                                    <a asp-page="/Index">Home</a>
                                    <ul class="sub-menu">
                                        <li><a asp-page="/ProductAmountSold">Sản phẩm bán chạy</a></li>
                                        <li><a asp-page="/ProductNewest">Sản phẩm mới nhất</a></li>
                                        <li><a asp-page="/ProductRecommend">Sản phẩm gợi ý</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About</a></li>
                                <li>
                                    <a class="disable">Comestic</a>
                                    <ul class="sub-menu">
                                        @foreach (var item in Model.Category1)
                                        {
                                            <li><a asp-page="/ProductByCategory" asp-route-id="@item.Id">@item.Name</a></li>
                                        }
                                        @*<li><a asp-page="">Chăm sóc da</a></li>
                <li><a asp-page="">Trang điểm</a></li>
                <li><a asp-page="">Dưỡng thể</a></li>
                <li><a asp-page="">Thức uống đẹp da</a></li>*@
                                    </ul>
                                </li>
                                <li>
                                    <a class="disable">Fashion</a>
                                    <ul class="sub-menu">
                                        @foreach (var item in Model.Category2)
                                        {
                                            <li><a asp-page="/ProductByCategory" asp-route-id="@item.Id">@item.Name</a></li>
                                        }
                                        @*<li><a asp-page="">Quần áo phụ nữ</a></li>
                <li><a asp-page="">Túi xách</a></li>*@
                                    </ul>
                                </li>
                                <li>
                                    <a asp-page="/Shop">Shop</a>
                                </li>
                                
                                <li>
                                    @if (Context.Session.GetString("Role") == null && Context.Session.GetString("Email") == null)
                                    {
                                        <div class="header-icons">
                                            <a asp-page="/Authenticate/Login"
                                               data-bs-toggle="tooltip" data-bs-placement="bottom"
                                               title="Login">
                                               Login
                                                @*<i class="fas fa-sign-in-alt"></i>*@
                                            </a>
                                            <a asp-page="/Authenticate/SignUp"
                                               data-bs-toggle="tooltip" data-bs-placement="bottom"
                                               title="Register">
                                               Register
                                                @*<i class="fas fa-user-plus"></i>*@
                                            </a>
                                            <a class="mobile-hide search-bar-icon" asp-page="/SearchPage"><i class="fas fa-search"></i></a>
                                        </div>
                                    }
                                    @if (Context.Session.GetString("Role") == "3" && Context.Session.GetString("Email") != null)
                                    {
                                        <div class="header-icons">
                                            <a asp-page="/Index" asp-page-handler="Logout">@*<i class="fas fa-sign-out-alt"></i>*@Logout</a>
                                            <a asp-page="/Customers/OrderHistory">@*<i class="fas fa-list-alt"></i>*@History</a>
                                            <a class="shopping-cart" asp-page="/Cart"><i class="fas fa-shopping-cart"></i></a>
                                            <a class="mobile-hide search-bar-icon" asp-page="/SearchPage"><i class="fas fa-search"></i></a>
                                        </div>
                                    }
                                </li>
                            </ul>
                        </nav>
                        <a class="mobile-show search-bar-icon" asp-page="/SearchPage"><i class="fas fa-search"></i></a>
                        <div class="mobile-menu"></div>
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header -->
    <!-- search area -->
    
    <!-- end search area -->
    @RenderBody()
    <!-- logo carousel -->
    @*<div class="logo-carousel-section" style="font-family: 'Quicksand', sans-serif;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo-carousel-inner">
                        <div class="single-logo-item">
                            <img src="~/assets/img/company-logos/1.png" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img src="~/assets/img/company-logos/2.png" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img src="~/assets/img/company-logos/3.png" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img src="~/assets/img/company-logos/4.png" alt="">
                        </div>
                        <div class="single-logo-item">
                            <img src="~/assets/img/company-logos/5.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <!-- end logo carousel -->
    <!-- footer -->
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box about-widget">
                        <h2 class="widget-title">About us</h2>
                        <p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box get-in-touch">
                        <h2 class="widget-title">Get in Touch</h2>
                        <ul>
                            <li>34/8, East Hukupara, Gifirtok, Sadan.</li>
                            <li>support@fruitkha.com</li>
                            <li>+00 111 222 3333</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box pages">
                        <h2 class="widget-title">Pages</h2>
                        <ul>
                            <li><a asp-page="/Index">Home</a></li>
                            <li><a asp-page="">About</a></li>
                            <li><a asp-page="">Comestic</a></li>
                            <li><a asp-page="">Fashion</a></li>
                            <li><a asp-page="/Shop">Shop</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box subscribe">
                        <h2 class="widget-title">Subscribe</h2>
                        <p>Subscribe to our mailing list to get the latest updates.</p>
                        <form action="https://technext.github.io/fruitkha/index.html">
                            <input type="email" placeholder="Email">
                            <button type="submit"><i class="fas fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer -->
    <!-- copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <p>
                        Copyrights &copy; 2022 - <a href="https://imransdesign.com/">BĐ TEAM</a>,  All Rights Reserved.<br>
                        Update at 12/12/2022
                    </p>
                </div>
                <div class="col-lg-6 text-right col-md-12">
                    <div class="social-icons">
                        <ul>
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end copyright -->
    <!-- jquery -->
    <script src="~/assets/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- count down -->
    <script src="~/assets/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="~/assets/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="~/assets/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="~/assets/js/jquery.meanmenu.min.js"></script>
    <!-- sticker js -->
    <script src="~/assets/js/sticker.js"></script>
    <!-- main js -->
    <script src="~/assets/js/main.js"></script>
    <script>
        (function ($) {
            var pagify = {
                items: {},
                container: null,
                totalPages: 1,
                perPage: 3,
                currentPage: 0,
                createNavigation: function () {
                    this.totalPages = Math.ceil(this.items.length / this.perPage);

                    $('.pagination', this.container.parent()).remove();
                    var pagination = $('<div class="pagination align-items-center justify-content-center" ></div>').append('<a class="nav prev disabled" data-next="false"><</a>');

                    for (var i = 0; i < this.totalPages; i++) {
                        var pageElClass = "page";
                        if (!i)
                            pageElClass = "page current";
                        var pageEl = '<a class="' + pageElClass + '" data-page="' + (
                            i + 1) + '">' + (
                                i + 1) + "</a>";
                        pagination.append(pageEl);
                    }
                    pagination.append('<a class="nav next" data-next="true">></a>');

                    this.container.after(pagination);

                    var that = this;
                    $("body").off("click", ".nav");
                    this.navigator = $("body").on("click", ".nav", function () {
                        var el = $(this);
                        that.navigate(el.data("next"));
                    });

                    $("body").off("click", ".page");
                    this.pageNavigator = $("body").on("click", ".page", function () {
                        var el = $(this);
                        that.goToPage(el.data("page"));
                    });
                },
                navigate: function (next) {
                    // default perPage to 5
                    if (isNaN(next) || next === undefined) {
                        next = true;
                    }
                    $(".pagination .nav").removeClass("disabled");
                    if (next) {
                        this.currentPage++;
                        if (this.currentPage > (this.totalPages - 1))
                            this.currentPage = (this.totalPages - 1);
                        if (this.currentPage == (this.totalPages - 1))
                            $(".pagination .nav.next").addClass("disabled");
                    }
                    else {
                        this.currentPage--;
                        if (this.currentPage < 0)
                            this.currentPage = 0;
                        if (this.currentPage == 0)
                            $(".pagination .nav.prev").addClass("disabled");
                    }

                    this.showItems();
                },
                updateNavigation: function () {

                    var pages = $(".pagination .page");
                    pages.removeClass("current");
                    $('.pagination .page[data-page="' + (
                        this.currentPage + 1) + '"]').addClass("current");
                },
                goToPage: function (page) {

                    this.currentPage = page - 1;

                    $(".pagination .nav").removeClass("disabled");
                    if (this.currentPage == (this.totalPages - 1))
                        $(".pagination .nav.next").addClass("disabled");

                    if (this.currentPage == 0)
                        $(".pagination .nav.prev").addClass("disabled");
                    this.showItems();
                },
                showItems: function () {
                    this.items.hide();
                    var base = this.perPage * this.currentPage;
                    this.items.slice(base, base + this.perPage).show();

                    this.updateNavigation();
                },
                init: function (container, items, perPage) {
                    this.container = container;
                    this.currentPage = 0;
                    this.totalPages = 1;
                    this.perPage = perPage;
                    this.items = items;
                    this.createNavigation();
                    this.showItems();
                }
            };

            // stuff it all into a jQuery method!
            $.fn.pagify = function (perPage, itemSelector) {
                var el = $(this);
                var items = $(itemSelector, el);

                // default perPage to 5
                if (isNaN(perPage) || perPage === undefined) {
                    perPage = 3;
                }

                // don't fire if fewer items than perPage
                if (items.length <= perPage) {
                    return true;
                }

                pagify.init(el, items, perPage);
            };
        })(jQuery);

        $(".list-wrapper").pagify(9, ".list-item");
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

<!-- Mirrored from technext.github.io/fruitkha/index_2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 03 Dec 2022 04:43:03 GMT -->
</html>