@page
@model ComesticShop.Pages.Salers.OrderPage.IndexModel
@{
}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    @*<link rel="stylesheet" href="~/assets/css/all.min.css">*@

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>

@if (@Model.Role == "2" || @Model.Role == "1")
{
    <!-- All Status -->
    <div class="white_card_body">
        <div class="QA_section">
            <div class="white_box_tittle list_header">
                <h4>Orders</h4>
                <div class="box_right d-flex">
                    @*<div class="serach_field-area d-flex align-items-center">
                <div class="search_inner">
                <form>
                <input type="text" id="Search" name="search" placeholder="Search..">
                <button type="submit"> <img src="~/admin/img/icon/icon_search.svg" alt=""> </button>
                </form>
                </div>
                </div>*@
                    <div class="add_button ms-2">
                        <a asp-page="/Admin/ProductPage/Index" asp-route-id="1" class="btn_1">Add New</a>
                    </div>
                </div>
            </div>
            <div class="QA_table mb_30">

                <table class="table table-striped table-responsive border">
                    <thead>
                        <tr>
                            <th scope="col">Customer Name</th>
                            <th scope="col">ShippingAddress</th>
                            <th scope="col">PaymentMethod</th>
                            <th scope="col">TotalPrice</th>
                            <th scope="col">CreateDate</th>
                            <th scope="col">OrderStatus</th>
                            <th scope="col">Shopping Method</th>
                            <th scope="col">Action</th>
                            @*<th scope="col"></th>*@
                        </tr>
                    </thead>
                    <tbody class="list-wrapper">
                        @foreach (var item in Model.Order.OrderByDescending(x => x.Id))
                        {
                            <tr class="list-item Search">
                                <td>@Html.DisplayFor(modelItem => item.Customer.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.ShippingAddress)</td>
                                <td>@Html.DisplayFor(modelItem => item.PaymentMethod)</td>
                                <td>@((int)item.TotalPrice)</td>
                                <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                                <td>
                                    @if (item.OrderStatus == "Processing")
                                    {
                                        <span class="badge badge rounded-pill d-block badge-soft-secondary" style="font-family: 'Quicksand', sans-serif;">
                                            @item.OrderStatus
                                            <svg class="svg-inline--fa fa-redo fa-w-16 ms-1" data-fa-transform="shrink-2" aria-hidden="true"
                                     focusable="false" data-prefix="fas" data-icon="redo" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""
                                     style="transform-origin: 0.5em 0.5em;">
                                                <g transform="translate(256 256)">
                                                    <g transform="translate(0, 0)  scale(0.875, 0.875)  rotate(0 0 0)">
                                                        <path fill="currentColor" d="M500.33 0h-47.41a12 12 0 0 0-12 12.57l4 82.76A247.42 247.42 0 0 0 256 8C119.34 8 7.9 119.53 8 256.19 8.1 393.07 119.1 504 256 504a247.1 247.1 0 0 0 166.18-63.91 12 12 0 0 0 .48-17.43l-34-34a12 12 0 0 0-16.38-.55A176 176 0 1 1 402.1 157.8l-101.53-4.87a12 12 0 0 0-12.57 12v47.41a12 12 0 0 0 12 12h200.33a12 12 0 0 0 12-12V12a12 12 0 0 0-12-12z" transform="translate(-256 -256)">
                                                        </path>
                                                    </g>
                                                </g>
                                            </svg>
                                        </span>
                                    }
                                    else if (item.OrderStatus == "Accepted")
                                    {
                                        <span class="badge badge rounded-pill d-block badge-soft-success" style="font-family: 'Quicksand', sans-serif;">
                                            @item.OrderStatus
                                            <svg class="svg-inline--fa fa-stream fa-w-16 ms-1" data-fa-transform="shrink-2" aria-hidden="true"
                                     focusable="false" data-prefix="fas" data-icon="stream" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""
                                     style="transform-origin: 0.5em 0.5em;">
                                                <g transform="translate(256 256)">
                                                    <g transform="translate(0, 0)  scale(0.875, 0.875)  rotate(0 0 0)">
                                                        <path fill="currentColor" d="M16 128h416c8.84 0 16-7.16 16-16V48c0-8.84-7.16-16-16-16H16C7.16 32 0 39.16 0 48v64c0 8.84 7.16 16 16 16zm480 80H80c-8.84 0-16 7.16-16 16v64c0 8.84 7.16 16 16 16h416c8.84 0 16-7.16 16-16v-64c0-8.84-7.16-16-16-16zm-64 176H16c-8.84 0-16 7.16-16 16v64c0 8.84 7.16 16 16 16h416c8.84 0 16-7.16 16-16v-64c0-8.84-7.16-16-16-16z" transform="translate(-256 -256)">
                                                        </path>
                                                    </g>
                                                </g>
                                            </svg>
                                        </span>
                                    }
                                    else if (item.OrderStatus == "Done")
                                    {
                                        <span class="badge badge rounded-pill d-block badge-soft-primary" style="font-family: 'Quicksand', sans-serif;">
                                            @item.OrderStatus
                                            <svg class="svg-inline--fa fa-check fa-w-16 ms-1" data-fa-transform="shrink-2" aria-hidden="true"
                                     focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""
                                     style="transform-origin: 0.5em 0.5em;">
                                                <g transform="translate(256 256)">
                                                    <g transform="translate(0, 0)  scale(0.875, 0.875)  rotate(0 0 0)">
                                                        <path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" transform="translate(-256 -256)">
                                                        </path>
                                                    </g>
                                                </g>
                                            </svg>

                                        </span>
                                    }
                                    else if (item.OrderStatus == "Cancle")
                                    {
                                        <span class="badge badge rounded-pill d-block badge-soft-warning" style="font-family: 'Quicksand', sans-serif;">
                                            @item.OrderStatus
                                            <svg class="svg-inline--fa fa-ban fa-w-16 ms-1" data-fa-transform="shrink-2" aria-hidden="true"
                                     focusable="false" data-prefix="fas" data-icon="ban" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""
                                     style="transform-origin: 0.5em 0.5em;">
                                                <g transform="translate(256 256)">
                                                    <g transform="translate(0, 0)  scale(0.875, 0.875)  rotate(0 0 0)">
                                                        <path fill="currentColor" d="M256 8C119.034 8 8 119.033 8 256s111.034 248 248 248 248-111.034 248-248S392.967 8 256 8zm130.108 117.892c65.448 65.448 70 165.481 20.677 235.637L150.47 105.216c70.204-49.356 170.226-44.735 235.638 20.676zM125.892 386.108c-65.448-65.448-70-165.481-20.677-235.637L361.53 406.784c-70.203 49.356-170.226 44.736-235.638-20.676z" transform="translate(-256 -256)">
                                                        </path>
                                                    </g>
                                                </g>
                                            </svg>
                                        </span>
                                    }
                                </td>
                                <td>
                                    @if (@item.StaffId == null)
                                    {
                                        <span class="badge bg-info text-white rounded-pill" style="font-family: 'Quicksand', sans-serif;">Shopping Online</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-warning text-white rounded-pill" style="font-family: 'Quicksand', sans-serif;">Staff At Store</span>
                                    }

                                </td>
                                @*<td class="action_button">
                        <a asp-page="./Accept" class="btn btn-success btn-sm" asp-route-id="@item.Id">Accept</a>
                        <a asp-page="./Cancle" class="btn btn-danger btn-sm" asp-route-id="@item.Id">Cancel</a>
                        <a asp-page="./Done" class="btn btn-primary btn-sm" asp-route-id="@item.Id" style="color: white">Done</a>
                        </td>*@
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-soft-primary dropdown-toggle btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                                            Actions
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a asp-page="./Accept" class="dropdown-item bg-transparent" asp-route-id="@item.Id">Accept</a></li>
                                            <li><a asp-page="./Cancle" class="dropdown-item bg-transparent" asp-route-id="@item.Id">Cancel</a></li>
                                            <li><a asp-page="./Done" class="dropdown-item bg-transparent" asp-route-id="@item.Id">Done</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a asp-page="./OrderDetailPage" class="dropdown-item" asp-route-id="@item.Id">Xem chi tiết</a></li>
                                        </ul>
                                    </div>
                                    @*<a asp-page="./OrderDetailPage" asp-route-id="@item.Id" style="color: #051922">Xem chi tiết</a>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div id="pagination"></div>
        </div>
    </div>
    <!-- end All Status -->
    @*<div class="tab-pane" id="2">

            <table id="example1" class="table display table-striped table-hover table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>ShippingAddress</th>
                        <th>PaymentMethod</th>
                        <th>TotalPrice</th>
                        <th>CreateDate</th>
                        <th>OrderStatus</th>
                        <th>Action</th>
                        <th></th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var item in Model.Order.OrderByDescending(x => x.Id).Where(x => x.OrderStatus == "Processing"))
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Customer.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.ShippingAddress)</td>
                            <td>@Html.DisplayFor(modelItem => item.PaymentMethod)</td>
                            <td>@((int)item.TotalPrice)</td>
                            <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                            <td>
                                @if (item.OrderStatus == "Processing")
                                {
                                    <div class="badge bg-secondary text-white rounded-pill" style="font-family: 'Quicksand', sans-serif;">@item.OrderStatus</div>
                                }
                            </td>
                            <td>
                                <a asp-page="./Accept" class="btn btn-success btn-sm" asp-route-id="@item.Id">Accept</a> |
                                <a asp-page="./Cancle" class="btn btn-danger btn-sm" asp-route-id="@item.Id">Cancel</a>
                            </td>
                            <td>
                                <a asp-page="./OrderDetailPage" asp-route-id="@item.Id" style="color: #051922">Xem chi tiết</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>*@
    <!-- end Processing Status -->
    <!-- Accepted Status -->
    @*<div class="tab-pane" id="3">

            <table id="example2" class="table display table-striped table-hover table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>ShippingAddress</th>
                        <th>PaymentMethod</th>
                        <th>TotalPrice</th>
                        <th>CreateDate</th>
                        <th>OrderStatus</th>
                        <th>Action</th>
                        <th></th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var item in Model.Order.OrderByDescending(x => x.Id).Where(x => x.OrderStatus == "Accepted"))
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Customer.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.ShippingAddress)</td>
                            <td>@Html.DisplayFor(modelItem => item.PaymentMethod)</td>
                            <td>@((int)item.TotalPrice)</td>
                            <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                            <td>
                                @if (item.OrderStatus == "Accepted")
                                {
                                    <div class="badge bg-warning text-white rounded-pill" style="font-family: 'Quicksand', sans-serif;">@item.OrderStatus</div>
                                }
                            </td>
                            <td>
                                <a asp-page="./Done" class="btn btn-primary btn-sm" asp-route-id="@item.Id" style="color: white">Done</a>
                            </td>
                            <td>
                                <a asp-page="./OrderDetailPage" asp-route-id="@item.Id" style="color: #051922">Xem chi tiết</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>*@
    <!-- end Accepted Status -->
    <!-- Done Status -->
    @*<div class="tab-pane" id="4">

            <table id="example3" class="table display table-striped table-hover table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>ShippingAddress</th>
                        <th>PaymentMethod</th>
                        <th>TotalPrice</th>
                        <th>CreateDate</th>
                        <th>OrderStatus</th>
                        <th></th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var item in Model.Order.OrderByDescending(x => x.Id).Where(x => x.OrderStatus == "Done"))
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Customer.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.ShippingAddress)</td>
                            <td>@Html.DisplayFor(modelItem => item.PaymentMethod)</td>
                            <td>@((int)item.TotalPrice)</td>
                            <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                            <td>
                                @if (item.OrderStatus == "Done")
                                {
                                    <div class="badge bg-primary text-white rounded-pill" style="font-family: 'Quicksand', sans-serif;">@item.OrderStatus</div>
                                }
                            </td>
                            <td>
                                <a asp-page="./OrderDetailPage" asp-route-id="@item.Id" style="color: #051922">Xem chi tiết</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>*@
    <!-- end Done Status -->
    <!-- Cancle Status -->
    @*<div class="tab-pane" id="5">

            <table id="example4" class="table table-striped table-hover table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>ShippingAddress</th>
                        <th>PaymentMethod</th>
                        <th>TotalPrice</th>
                        <th>CreateDate</th>
                        <th>OrderStatus</th>
                        <th></th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var item in Model.Order.OrderByDescending(x => x.Id).Where(x => x.OrderStatus == "Cancle"))
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Customer.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.ShippingAddress)</td>
                            <td>@Html.DisplayFor(modelItem => item.PaymentMethod)</td>
                            <td>@((int)item.TotalPrice)</td>
                            <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                            <td>
                                @if (item.OrderStatus == "Cancle")
                                {
                                    <div class="badge bg-danger text-white rounded-pill" style="font-family: 'Quicksand', sans-serif;">@item.OrderStatus</div>
                                }
                            </td>
                            <td>
                                <a asp-page="./OrderDetailPage" asp-route-id="@item.Id" style="color: #051922">Xem chi tiết</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>*@
    <!-- end Cancle Status -->
    @*<script>
        $(document).ready(function () {

            function filterGlobal() {
                $('#example').DataTable().search(
                    $('#global_filter').val()
                ).draw();
                $('#example1').DataTable().search(
                    $('#global_filter').val()
                ).draw();
                $('#example2').DataTable().search(
                    $('#global_filter').val()
                ).draw();
                $('#example3').DataTable().search(
                    $('#global_filter').val()
                ).draw();
                $('#example4').DataTable().search(
                    $('#global_filter').val()
                ).draw();
            }

            var table = $('#example').DataTable();
            var table1 = $('#example1').DataTable();
            var table1 = $('#example2').DataTable();
            var table1 = $('#example3').DataTable();
            var table1 = $('#example4').DataTable();

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                $($.fn.dataTable.tables(true)).DataTable()
                    .scroller.measure();
            });

            $('input.global_filter').on('keyup click', function () {
                filterGlobal();
            });


        });
    </script>*@
    <script>
        $(document).ready(function () {
            function Contains(text_one, text_two) {
                if (text_one.indexOf(text_two) != -1)
                    return true;
            }
            $("#Search").keyup(function () {
                var searchText = $("#Search").val().toLowerCase();
                $(".Search").each(function () {
                    if (!Contains($(this).text().toLowerCase(), searchText)) {
                        $(this).hide();

                    }
                    else {
                        $(this).show();
                    }
                });
            });
        });
    </script>
}
else
{
    Response.Redirect("/Authenticate/Login");
}