@page
@model ComesticShop.Pages.Salers.OrderPage.IndexModel
@{
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/assets/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>*@

<!-- Datatables -->
@*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
<script src="https://nightly.datatables.net/js/dataTables.bootstrap.js"></script>

<style>
    .btn_1 {
        padding: 11px 60px;
        margin-top: 10px;
    }

    .nav-tabs li.active a {
        background-color: #567aed;
        color: #fff;
        border: 2px solid #567aed;
        border-bottom-color: transparent;
    }

    .nav-tabs .nav-link {
        background-color: #fff;
        color: #567aed;
        border: 2px solid #567aed;
        border-bottom-color: transparent;
        margin-right: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        color: #fff;
        cursor: default;
        background-color: #567aed;
        border: 2px solid #567aed;
        border-bottom-color: transparent;
    }

    .nav-tabs .nav-link:hover {
        border: 2px solid #567aed;
        border-bottom-color: transparent;
    }

    .tab-content {
        padding: 20px
    }

</style>*@

@if (@Model.Role == "2" || @Model.Role == "1")
{
    <div class="white_box_tittle list_header">
        <h1>Order Management</h1>
        <div class="box_right d-flex lms_block">
            <div class="add_button ms-2">
                <a asp-page="/Salers/ProductPage/Index" asp-route-id="1" class="btn_1">Add New</a>
            </div>
        </div>
    </div>

    @*<p>
        <a asp-page="/Salers/ProductPage/Index">Create New</a>
    </p>*@
   
    @*<ul class="nav nav-tabs">
        <li class="nav-item active">
            <a class="nav-link" href="#1" data-toggle="tab">All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#2" data-toggle="tab">Processing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#3" data-toggle="tab">Accepted</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#4" data-toggle="tab">Done</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#5" data-toggle="tab">Cancle</a>
        </li>
    </ul>*@
    <br>
    <div class="tab-content">
        <!-- All Status -->
        <div class="tab-pane active" id="1">

            <table id="example" class="table display table-striped table-hover table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>ShippingAddress</th>
                        <th>PaymentMethod</th>
                        <th>TotalPrice</th>
                        <th>CreateDate</th>
                        <th>OrderStatus</th>
                        <th>Shopping Method</th>
                        <th>Action</th>
                        <th></th>
                    </tr>
                </thead>


                <tbody class="list-wrapper">
                    @foreach (var item in Model.Order.OrderByDescending(x => x.Id))
                    {
                        <tr class="list-item">
                            <td>@Html.DisplayFor(modelItem => item.Customer.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.ShippingAddress)</td>
                            <td>@Html.DisplayFor(modelItem => item.PaymentMethod)</td>
                            <td>@((int)item.TotalPrice)</td>
                            <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                            <td>
                                @if (item.OrderStatus == "Processing")
                                {
                                    <div class="badge bg-secondary text-white rounded-pill" style="font-family: 'Quicksand', sans-serif;">@item.OrderStatus</div>
                                }
                                else if (item.OrderStatus == "Accepted")
                                {
                                    <div class="badge bg-warning text-white rounded-pill" style="font-family: 'Quicksand', sans-serif;">@item.OrderStatus</div>
                                }
                                else if (item.OrderStatus == "Done")
                                {
                                    <div class="badge bg-primary text-white rounded-pill" style="font-family: 'Quicksand', sans-serif;">@item.OrderStatus</div>
                                }
                                else if (item.OrderStatus == "Cancle")
                                {
                                    <div class="badge bg-danger text-white rounded-pill" style="font-family: 'Quicksand', sans-serif;">@item.OrderStatus</div>
                                }
                            </td>
                            <td>
                                @if (@item.StaffId == null)
                                {
                                    <div class="badge bg-info text-white rounded-pill" style="font-family: 'Quicksand', sans-serif;">Shopping Online</div>
                                }
                                else
                                {
                                    <div class="badge bg-warning text-white rounded-pill" style="font-family: 'Quicksand', sans-serif;">Staff At Store</div>
                                }
                                
                            </td>
                            <td>
                                <a asp-page="./Accept" class="btn btn-success btn-sm" asp-route-id="@item.Id">Accept</a> |
                                <a asp-page="./Cancle" class="btn btn-danger btn-sm" asp-route-id="@item.Id">Cancel</a> |
                                <a asp-page="./Done" class="btn btn-primary btn-sm" asp-route-id="@item.Id" style="color: white">Done</a>
                            </td>
                            <td>
                                <a asp-page="./OrderDetailPage" asp-route-id="@item.Id" style="color: #051922">Xem chi tiết</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div id="pagination-container"></div>
        </div>
        <!-- end All Status -->
        <!-- Processing Status -->
        @*<div class="tab-pane" id="2">

            <table id="example1" class="table display table-striped table-hover table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>ShippingAddress</th>
                        <th>PaymentMethod</th>
                        <th>TotalPrice</th>
                        <th>CreateDate</th>
                        <th>OrderStatus</th>
                        <th>Action</th>
                        <th></th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var item in Model.Order.OrderByDescending(x => x.Id).Where(x => x.OrderStatus == "Processing"))
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Customer.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.ShippingAddress)</td>
                            <td>@Html.DisplayFor(modelItem => item.PaymentMethod)</td>
                            <td>@((int)item.TotalPrice)</td>
                            <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                            <td>
                                @if (item.OrderStatus == "Processing")
                                {
                                    <div class="badge bg-secondary text-white rounded-pill" style="font-family: 'Quicksand', sans-serif;">@item.OrderStatus</div>
                                }
                            </td>
                            <td>
                                <a asp-page="./Accept" class="btn btn-success btn-sm" asp-route-id="@item.Id">Accept</a> |
                                <a asp-page="./Cancle" class="btn btn-danger btn-sm" asp-route-id="@item.Id">Cancel</a>
                            </td>
                            <td>
                                <a asp-page="./OrderDetailPage" asp-route-id="@item.Id" style="color: #051922">Xem chi tiết</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>*@
        <!-- end Processing Status -->
        <!-- Accepted Status -->
        @*<div class="tab-pane" id="3">

            <table id="example2" class="table display table-striped table-hover table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>ShippingAddress</th>
                        <th>PaymentMethod</th>
                        <th>TotalPrice</th>
                        <th>CreateDate</th>
                        <th>OrderStatus</th>
                        <th>Action</th>
                        <th></th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var item in Model.Order.OrderByDescending(x => x.Id).Where(x => x.OrderStatus == "Accepted"))
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Customer.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.ShippingAddress)</td>
                            <td>@Html.DisplayFor(modelItem => item.PaymentMethod)</td>
                            <td>@((int)item.TotalPrice)</td>
                            <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                            <td>
                                @if (item.OrderStatus == "Accepted")
                                {
                                    <div class="badge bg-warning text-white rounded-pill" style="font-family: 'Quicksand', sans-serif;">@item.OrderStatus</div>
                                }
                            </td>
                            <td>
                                <a asp-page="./Done" class="btn btn-primary btn-sm" asp-route-id="@item.Id" style="color: white">Done</a>
                            </td>
                            <td>
                                <a asp-page="./OrderDetailPage" asp-route-id="@item.Id" style="color: #051922">Xem chi tiết</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>*@
        <!-- end Accepted Status -->
        <!-- Done Status -->
        @*<div class="tab-pane" id="4">

            <table id="example3" class="table display table-striped table-hover table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>ShippingAddress</th>
                        <th>PaymentMethod</th>
                        <th>TotalPrice</th>
                        <th>CreateDate</th>
                        <th>OrderStatus</th>
                        <th></th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var item in Model.Order.OrderByDescending(x => x.Id).Where(x => x.OrderStatus == "Done"))
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Customer.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.ShippingAddress)</td>
                            <td>@Html.DisplayFor(modelItem => item.PaymentMethod)</td>
                            <td>@((int)item.TotalPrice)</td>
                            <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                            <td>
                                @if (item.OrderStatus == "Done")
                                {
                                    <div class="badge bg-primary text-white rounded-pill" style="font-family: 'Quicksand', sans-serif;">@item.OrderStatus</div>
                                }
                            </td>
                            <td>
                                <a asp-page="./OrderDetailPage" asp-route-id="@item.Id" style="color: #051922">Xem chi tiết</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>*@
        <!-- end Done Status -->
        <!-- Cancle Status -->
        @*<div class="tab-pane" id="5">

            <table id="example4" class="table table-striped table-hover table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>ShippingAddress</th>
                        <th>PaymentMethod</th>
                        <th>TotalPrice</th>
                        <th>CreateDate</th>
                        <th>OrderStatus</th>
                        <th></th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var item in Model.Order.OrderByDescending(x => x.Id).Where(x => x.OrderStatus == "Cancle"))
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Customer.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.ShippingAddress)</td>
                            <td>@Html.DisplayFor(modelItem => item.PaymentMethod)</td>
                            <td>@((int)item.TotalPrice)</td>
                            <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                            <td>
                                @if (item.OrderStatus == "Cancle")
                                {
                                    <div class="badge bg-danger text-white rounded-pill" style="font-family: 'Quicksand', sans-serif;">@item.OrderStatus</div>
                                }
                            </td>
                            <td>
                                <a asp-page="./OrderDetailPage" asp-route-id="@item.Id" style="color: #051922">Xem chi tiết</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>*@
        <!-- end Cancle Status -->
    </div>
    @*<script>
        $(document).ready(function () {
            
            function filterGlobal() {
                $('#example').DataTable().search(
                    $('#global_filter').val()
                ).draw();
                $('#example1').DataTable().search(
                    $('#global_filter').val()
                ).draw();
                $('#example2').DataTable().search(
                    $('#global_filter').val()
                ).draw();
                $('#example3').DataTable().search(
                    $('#global_filter').val()
                ).draw();
                $('#example4').DataTable().search(
                    $('#global_filter').val()
                ).draw();
            }
            
            var table = $('#example').DataTable();
            var table1 = $('#example1').DataTable();
            var table1 = $('#example2').DataTable();
            var table1 = $('#example3').DataTable();
            var table1 = $('#example4').DataTable();

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                $($.fn.dataTable.tables(true)).DataTable()
                    .scroller.measure();
            });
            
            $('input.global_filter').on('keyup click', function () {
                filterGlobal();
            });
            

        });
    </script>*@
}
else
{
    Response.Redirect("/Authenticate/Login");
}