@page
@model ComesticShop.Pages.ProductDetailModel
@{
}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/all.min.css">

    <link rel="stylesheet" href="~/NewFolder/css/mdb.min.css">
    @*<script src="~/NewFolder/js/mdb.min.js"></script>*@

    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        /*.carousel-control-next, .carousel-control-prev {
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15%;
            padding: 0;
            color: #fff;
            text-align: center;
            background: none;
            border: 0;
            opacity: .5;
            transition: opacity .15s ease;
        }

        .carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
            color: #6c757d;
            text-decoration: none;
            outline: 0;
            opacity: .9;
        }

        .carousel-indicators {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
            display: flex;
            justify-content: center;
            padding: 0;
            margin-right: 15%;
            margin-bottom: 1rem;
            margin-left: 15%;
            list-style: none;
        }

        .carousel-control-next-icon, .carousel-control-prev-icon {
            background-image: none;
        }

        .carousel-control-next-icon, .carousel-control-prev-icon {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 100% 100%;
        }

        .carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
            color: #6c757d;
            text-decoration: none;
            outline: 0;
            opacity: .9;
        }

        .visually-hidden, .visually-hidden-focusable:not(:focus):not(:focus-within) {
            position: absolute !important;
            width: 1px !important;
            height: 1px !important;
            padding: 0 !important;
            margin: -1px !important;
            overflow: hidden !important;
            clip: rect(0,0,0,0) !important;
            white-space: nowrap !important;
            border: 0 !important;
        }

        .col-md-7 {
            padding-top: 60px;
        }*/

        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            margin: auto;
            max-width: 500px;
            max-height: 280px !important;
            border-radius: 10px;
        }

        #myCarousel {
            max-width: 650px;
            margin: 0 auto;
            background: #fff;
        }

        #thumbCarousel {
            max-width: 650px;
            margin: 0 auto;
            overflow: hidden;
            background: #fff;
            padding: 10px 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            
        }

            #thumbCarousel .thumb {
                float: left;
                margin-right: 10px;
                border: 1px solid #e6e6e6;
                background: #fff;
                border-radius: 10px;
            }

                #thumbCarousel .thumb:last-child {
                    margin-right: 0;
                }

        .thumb:hover {
            cursor: pointer;
        }

        .thumb img {
            opacity: 0.5;
        }

            .thumb img:hover {
                opacity: 1;
            }

            .thumb.active img{
	            opacity: 1;
              border: 1px solid #808080;
            }

        .carousel-control:focus, .carousel-control:hover {
            color: #4F4F4F;
            text-decoration: none;
        }

        .carousel-control.left {
            background-image: none;
            color: #e1dfdf;
        }

        .carousel-control.right {
            background-image: none;
            color: #e1dfdf;
        }

        .product-filters ul li:hover {
            color: white;
            background-color: #F28123;
        }

        img.d-block.w-100.shadow-1-strong.rounded.img-fluid:hover {
            opacity: 0.9;
        }
    </style>

</head>

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>See more Details</p>
                    <h1 style="font-family: 'Quicksand', sans-serif;">@Model.Product.Name</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- single product -->
<div class="single-product mt-150 mb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <!-- IMG Slider -->
                
                    <!-- Carousel wrapper -->
                    <div id="myCarousel" class="carousel slide" data-interval="false">

                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="~/ImagesPro/@Model.Product.ImgName1" alt="..." />
                            </div>
                        @if (@Model.Product.ImgName2 != null)
                        {
                            <div class="item">
                                <img src="~/ImagesPro/@Model.Product.ImgName2" alt="..." />
                            </div>
                        }
                        @if (@Model.Product.ImgName3 != null)
                        {
                            <div class="item">
                                <img src="~/ImagesPro/@Model.Product.ImgName3" alt="..." />
                            </div>
                        }
                        @if (@Model.Product.ImgName4 != null)
                        {
                            <div class="item">
                                <img src="~/ImagesPro/@Model.Product.ImgName4" alt="..." />
                            </div>
                        }
                        @if (@Model.Product.ImgName5 != null)
                        {
                            <div class="item">
                                <img src="~/ImagesPro/@Model.Product.ImgName5" alt="..." />
                            </div>
                        }

                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                        <div id="thumbCarousel">
                            <div data-target="#myCarousel" data-slide-to="0" class="thumb active">
                                <img src="~/ImagesPro/@Model.Product.ImgName1" alt="XZ" style="width: 120px; height: 80px; border-radius: 8px" />
                            </div>
                            @if (@Model.Product.ImgName2 != null)
                            {
                                <div data-target="#myCarousel" data-slide-to="1" class="thumb">
                                    <img src="~/ImagesPro/@Model.Product.ImgName2" alt="XZ" style="width: 120px; height: 80px; border-radius: 8px" />
                                </div>
                            }
                            @if (@Model.Product.ImgName3 != null)
                            {
                                <div data-target="#myCarousel" data-slide-to="2" class="thumb">
                                    <img src="~/ImagesPro/@Model.Product.ImgName3" alt="XZ" style="width: 120px; height: 80px; border-radius: 8px" />
                                </div>
                            }
                            @if (@Model.Product.ImgName4 != null)
                            {
                                <div data-target="#myCarousel" data-slide-to="3" class="thumb">
                                    <img src="~/ImagesPro/@Model.Product.ImgName4" alt="XZ" style="width: 120px; height: 80px" />
                                </div>
                            }
                            @if (@Model.Product.ImgName5 != null)
                            {
                                <div data-target="#myCarousel" data-slide-to="4" class="thumb">
                                    <img src="~/ImagesPro/@Model.Product.ImgName5" alt="XZ" style="width: 120px; height: 80px" />
                                </div>
                            }
                        </div>

                    </div>
                
                <!-- IMG Slider -->
            </div>
            <div class="col-md-7">
                <div class="single-product-content">
                    <h3 style="font-family: 'Quicksand', sans-serif;">@Model.Product.Name</h3>
                    <p style="font-family: 'Quicksand', sans-serif;">
                        <strong style="font-family: 'Quicksand', sans-serif;">
                            Thương hiệu:
                            <span class="orange-text" style="font-family: 'Quicksand', sans-serif;">
                                @Model.Product.Brand.Name
                            </span>
                        </strong>
                    </p>
                    <p style="font-family: 'Quicksand', sans-serif;">
                        <strong style="font-family: 'Quicksand', sans-serif;">
                            Categories:
                            <span class="orange-text" style="font-family: 'Quicksand', sans-serif;">
                                @Model.Product.Category.Name
                            </span>
                        </strong>
                    </p>
                    <p class="single-product-pricing" style="font-family: 'Quicksand', sans-serif; font-weight: 500; color: #F28123">
                        @((int)Model.Product.Price) VND
                    </p>
                    <p style="font-family: 'Quicksand', sans-serif;">Summary: @Model.Product.Summary</p>
                    <div class="single-product-form">
                        @*<form action="index.html">
                                <input type="number" placeholder="0">
                          </form>*@
                        @if (@Model.Email != null)
                        {
                            @if (@Model.Product.IsNeedContact == true)
                            {
                                <a asp-page="./Shop" class="cart-btn" style="font-family: 'Quicksand', sans-serif;">
                                    <i class="fas fa-shopping-cart"></i>
                                    Liên hệ cửa hàng
                                </a>
                            }
                            else
                            {
                                <a asp-page="./Cart" asp-route-id="@Model.Product.Id" class="cart-btn" style="font-family: 'Quicksand', sans-serif;">
                                    <i class="fas fa-shopping-cart"></i>
                                    Add to Cart
                                </a>
                            }
                            
                        }
                        else
                        {
                            @if (@Model.Product.IsNeedContact == true)
                            {
                                <a asp-page="/Authenticate/Login" class="cart-btn" style="font-family: 'Quicksand', sans-serif;">
                                    <i class="fas fa-shopping-cart"></i>
                                    Liên hệ cửa hàng
                                </a>
                            }
                            else
                            {
                                <a asp-page="/Authenticate/Login" asp-route-id="@Model.Product.Id" class="cart-btn" style="font-family: 'Quicksand', sans-serif;">
                                    <i class="fas fa-shopping-cart"></i>
                                    Add to Cart
                                </a>
                            }
                        }

                    </div>
                    @*<h4>Share:</h4>
        <ul class="product-share">
            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
            <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
            <li><a href=""><i class="fab fa-linkedin"></i></a></li>
        </ul>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end single product -->
<div class="product-section mt-100 mb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-filters">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".description">Mô tả sản phẩm</li>
                        <li data-filter=".usermanual">Hướng dẫn sử dụng</li>
                        <li data-filter=".element">Thành phần</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row product-lists" id="product-description-section" style="font-size: .875rem; border-bottom: 1px solid #9d691b;">
            <div class="product-detail-description-wrapper description" style="padding: 10px 0; border-top: 1px solid #9d691b;">
                <h2 class="product-detail-information-title" style=" font-family: 'Quicksand', sans-serif;
                        font-size: 14px; font-weight: 600; text-transform: uppercase;">
                    Mô tả sản phẩm
                </h2>
                <div style="font-family: 'Quicksand', sans-serif; font-size: 14px; font-weight: 400; ">
                    @Model.Product.Description
                </div>
            </div>

            <div class="product-user-manual-wrapper usermanual" style="padding: 10px 0; border-top: 1px solid #9d691b;">
                <h2 class="product-detail-information-title" style=" font-family: 'Quicksand', sans-serif;
                        font-size: 14px; font-weight: 600; text-transform: uppercase;">
                    Hướng dẫn sử dụng
                </h2>
                <div style="font-family: 'Quicksand', sans-serif; font-size: 14px; font-weight: 400;">
                    @Model.Product.UserManual
                </div>
            </div>

            <div class="product-user-manual-wrapper element" style="padding: 10px 0; border-top: 1px solid #9d691b;">
                <h2 class="product-detail-information-title" style=" font-family: 'Quicksand', sans-serif;
                        font-size: 14px; font-weight: 600; text-transform: uppercase;">
                    Thành phần
                </h2>
                <div style="font-family: 'Quicksand', sans-serif; font-size: 14px; font-weight: 400;">
                    @Model.Product.Element
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- more products -->
        <div class="more-products mb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <div class="section-title">
                            <h3><span class="orange-text">Sản Phẩm Liên Quan</span></h3>
                            @*<p>Những sản phẩm cùng Category sẽ xuất hiện (nhớ copy UI list sản phẩm bên Index)</p>*@
                        </div>
                    </div>
                </div>
                <div>
                    <a asp-page="/ProductByCategory" asp-route-id="@Model.Product.CategoryId" class="more-product d-flex justify-content-end" style="font-family: 'Quicksand', sans-serif; font-weight: 400; color: #343a40">
                        See more
                        <span><i style="padding-left: 5px; padding-top: 5px" class="fas fa-angle-right"></i></span>
                    </a>
                </div>
        <div class="row">

            @foreach (var item in Model.RelatedProduct)
            {
                <div class="list-item col-lg-4 col-md-6">
                    <div class="card">

                        <div class="product-images">
                            @if (item.ImgName1 == null)
                            {
                                <p>No content</p>
                            }
                            else
                            {
                                <a asp-page="/ProductDetail" asp-route-id="@item.Id">
                                    <img class="card-img-top" src="~/ImagesPro/@item.ImgName1" alt="">
                                </a>
                            }
                        </div>
                        <div class="card-body" style="width: 100%;">
                            <div class="fs-0">
                                <h5>
                                    <a asp-page="/ProductDetail" asp-route-id="@item.Id" class="text-name text-dark" style="font-size: 17.5px; color: #332D2D;">
                                        @item.Name
                                    </a>
                                </h5>
                                <p class="fs--1 mb-3 text-secondary" style="font-size: 11.66667px; color: #9FA6B2">
                                    @item.Category.Name & @item.Brand.Name
                                </p>
                            </div>
                            <p class="fs-md-2 mb-0 d-flex align-items-center mb-3" style="font-size: 20.16px; color: #F28123">
                                @((int)item.Price) VND
                            </p>
                        </div>
                        <div class="card_footer bg-transparent">
                            @if (@Model.Email != null)
                            {
                                @if (@item.IsNeedContact == true)
                                {
                                    <a asp-page="./Shop" class="cart-btn btn-card" style="font-family: 'Quicksand', sans-serif;">
                                        <i class="fas fa-shopping-cart"></i>
                                        Liên hệ cửa hàng
                                    </a>
                                }
                                else
                                {
                                    <a asp-page="./Cart" asp-route-id="@item.Id" class="cart-btn btn-card" style="font-family: 'Quicksand', sans-serif;">
                                        <i class="fas fa-shopping-cart"></i>
                                        Add to Cart
                                    </a>
                                }

                            }
                            else
                            {
                                @if (@item.IsNeedContact == true)
                                {
                                    <a asp-page="/Authenticate/Login" class="cart-btn btn-card" style="font-family: 'Quicksand', sans-serif;">
                                        <i class="fas fa-shopping-cart"></i>
                                        Liên hệ cửa hàng
                                    </a>
                                }
                                else
                                {
                                    <a asp-page="/Authenticate/Login" asp-route-id="@item.Id" class="cart-btn btn-card" style="font-family: 'Quicksand', sans-serif;">
                                        <i class="fas fa-shopping-cart"></i>
                                        Add to Cart
                                    </a>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
            </div>
        </div>
        <!-- end more products -->
<script>
    $(document).ready(function () {

        //carousel-control

        $("#myCarousel").mouseover(function () {
            $("#myCarousel .carousel-control").show();
        });

        $("#myCarousel").mouseleave(function () {
            $("#myCarousel .carousel-control").hide();
        });

        //active thumbnail

        $("#thumbCarousel .thumb").on("click", function () {
            $(this).addClass("active");
            $(this).siblings().removeClass("active");

        });

        //carousel slides

        $('#myCarousel').on('slid.bs.carousel', function () {
            var index = $('.carousel-inner .item.active').index();
            //console.log(index);
            var thumbnailActive = $('#thumbCarousel .thumb[data-slide-to="' + index + '"]');
            thumbnailActive.addClass('active');
            $(thumbnailActive).siblings().removeClass("active");
            //console.log($(thumbnailActive).siblings());
        });
    });
</script>
