@page
@model ComesticShop.Pages.ProductByCategoryModel
@{
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/assets/css/all.min.css">

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <h2 style="font-family: 'Quicksand', sans-serif; color: #F28123">@Model.CategoryName.Name</h2>
                    @if (Model.CategoryName.Name == "Chăm sóc da")
                    {
                        <h5 style="font-family: 'Quicksand', sans-serif; color: white">
                            Chăm sóc da đúng cách và khoa học sẽ giúp bạn sở hữu làn da đẹp, khỏe khoắn và mịn màng. 
                            Trong đó, các bước chăm sóc da cơ bản rất quan trọng và cần được tiến hành hàng ngày để đạt được kết quả tốt nhất. 
                            Ngoài ra, chăm sóc da đúng cách sẽ giúp bạn có được làn da tươi trẻ, khoẻ mạnh và hạn chế tối đa quá trình lão hóa.
                        </h5>
                    }
                    @if (Model.CategoryName.Name == "Trang điểm")
                    {
                        <h5 style="font-family: 'Quicksand', sans-serif; color: white">
                            Đối với phụ nữ thì trang điểm và làm đẹp là dường như là hai khía cạnh không thể thiếu trong cuộc sống. 
                            Trang điểm sẽ giúp phụ nữ đẹp hơn và tự tin hơn khi sống trong một xã hội ngày càng hiện đại và tiến bộ. 
                            Trang điểm mang lại những lợi ích mà bất cứ phụ nữ nào cũng cần: che đi những khuyết điểm, thay đổi hình ảnh, 
                            điều chỉnh khuôn mặt, thêm sự thu hút, củng cố sự tự tin,...
                        </h5>
                    }
                    @if (Model.CategoryName.Name == "Dưỡng thể")
                    {
                        <h5 style="font-family: 'Quicksand', sans-serif; color: white">
                            Có lẽ hằng ngày, vì quá chú trọng việc dưỡng da mặt mà chị em chúng mình vô tình quên đi “phần còn lại”. 
                            Bên cạnh việc chăm sóc da mặt, thì dưỡng thể là một phần không thể thiếu của phái đẹp để có một làn da hoàn hảo từ đầu đến chân. 
                            Đặc biệt là ở Việt Nam nơi có khí hậu nóng bức, da dễ mất nước, mất chất. Dưỡng thể sẽ giúp làm sạch, bảo vệ và tái tạo da sau ngày dài làm việc.
                            Làn da sạch và ẩm sẽ mang lại một cơ thể trắng sáng và mềm mịn.
                        </h5>
                    }
                    @if (Model.CategoryName.Name == "Thức uống đẹp da")
                    {
                        <h5 style="font-family: 'Quicksand', sans-serif; color: white">
                            Làn da là biểu hiện của sức khỏe. Một làn da săn chắc, khỏe đẹp phản ánh một sức khỏe tốt,
                            với làn da như vậy hẳn bạn cũng sẽ tự tin hơn trong giao tiếp, làm việc. 
                            Bên cạnh việc chăm sóc da từ bên ngoài, bằng các loại mỹ phẩm dưỡng da, thì việc chăm sóc da từ bên trong cũng vô cùng quan trọng. 
                            Phương pháp đơn giản nhất để làm đẹp da từ sâu bên trong đó chính là dùng các loại thức uống bổ sung dưỡng chất để hỗ trợ tái tạo 
                            và chống lão hóa.
                        </h5>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-section mt-150 mb-150">
        <div class="container">

            @*<div class="row">
                    <div class="col-md-12">
                        <div class="product-filters">
                            <ul>
                                <li class="active" data-filter="*">All</li>
                                <li data-filter=".strawberry">Strawberry</li>
                                <li data-filter=".berry">Berry</li>
                                <li data-filter=".lemon">Lemon</li>
                            </ul>
                        </div>
                    </div>
                </div>*@

            <div class="list-wrapper row">
            @if (Model.ProductsByCategory.Count() == 0)
            {
                <h2>Không có sản phẩm</h2>
            }else
            {
                @foreach (var item in Model.ProductsByCategory)
                {
                    <div class="list-item col-lg-4 col-md-6">
                        <div class="card">

                            <div class="product-images">
                                @if (item.ImgName1 == null)
                                {
                                    <p>No content</p>
                                }
                                else
                                {
                                    <a asp-page="/ProductDetail" asp-route-id="@item.Id">
                                        <img class="card-img-top" src="~/ImagesPro/@item.ImgName1" alt="">
                                    </a>
                                }
                            </div>
                            <div class="card-body" style="width: 100%;">
                                <div class="fs-0">
                                    <h5>
                                        <a asp-page="/ProductDetail" asp-route-id="@item.Id" class="text-name text-dark">
                                            @item.Name
                                        </a>
                                    </h5>
                                    <p class="fs--1 mb-3 text-secondary">
                                        @item.Category.Name & @item.Brand.Name
                                    </p>
                                </div>
                                <p class="fs-md-2 mb-0 d-flex align-items-center mb-3">
                                    @((int)item.Price) VND
                                </p>
                                @*<p style="font-family: 'Quicksand', sans-serif; font-weight: 500">
                        Số lượng còn: @item.Amount sản phẩm
                        </p>*@
                            </div>
                            <div class="card_footer bg-transparent">
                                @if (@Model.Email != null)
                                {
                                    @if (@item.IsNeedContact == true)
                                    {
                                        <a asp-page="./Shop" class="cart-btn btn-card" style="font-family: 'Quicksand', sans-serif;">
                                            <i class="fas fa-shopping-cart"></i>
                                            Liên hệ cửa hàng
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-page="./Cart" asp-route-id="@item.Id" class="cart-btn btn-card" style="font-family: 'Quicksand', sans-serif;">
                                            <i class="fas fa-shopping-cart"></i>
                                            Add to Cart
                                        </a>
                                    }

                                }
                                else
                                {
                                    @if (@item.IsNeedContact == true)
                                    {
                                        <a asp-page="/Authenticate/Login" class="cart-btn btn-card" style="font-family: 'Quicksand', sans-serif;">
                                            <i class="fas fa-shopping-cart"></i>
                                            Liên hệ cửa hàng
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-page="/Authenticate/Login" asp-route-id="@item.Id" class="cart-btn btn-card" style="font-family: 'Quicksand', sans-serif;">
                                            <i class="fas fa-shopping-cart"></i>
                                            Add to Cart
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            }
            
            </div>
            <div id="pagination-container"></div>
        </div>
    </div>