@page
@using Microsoft.AspNetCore.Http
@model ComesticShop.Pages.ProductRecommendModel

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/all.min.css">

    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <p style="font-family: 'Quicksand', sans-serif;">Beauty & Fashion</p>
                        <h1 style="font-family: 'Quicksand', sans-serif;">Sản phẩm gợi ý</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->
    <!-- products -->
    <div class="product-section mt-150 mb-150">
        <div class="container">

            @*<div class="row">
                    <div class="col-md-12">
                        <div class="product-filters">
                            <ul>
                                <li class="active" data-filter="*">All</li>
                                <li data-filter=".strawberry">Strawberry</li>
                                <li data-filter=".berry">Berry</li>
                                <li data-filter=".lemon">Lemon</li>
                            </ul>
                        </div>
                    </div>
                </div>*@

            <div class="list-wrapper row">
                @foreach (var item in Model.ProductsRecommend)
                {
                <div class="list-item col-lg-4 col-md-6">
                    <div class="card">

                        <div class="product-images">
                             @if (item.ImgName1 == null)
                        {
                            <p>No content</p>
                        }
                        else
                        {
                            <a asp-page="/ProductDetail" asp-route-id="@item.Id">
                                <img class="card-img-top" src="~/ImagesPro/@item.ImgName1" alt="">
                            </a>
                        }
                        </div>
                        <div class="card-body" style="width: 100%;">
                            <div class="fs-0">
                                <h5>
                                    <a asp-page="/ProductDetail" asp-route-id="@item.Id" class="text-name text-dark">
                                        @item.Name
                                    </a>
                                </h5>
                                <p class="fs--1 mb-3 text-secondary">
                                    @item.Category.Name & @item.Brand.Name
                                </p>
                            </div>
                            <p class="fs-md-2 mb-0 d-flex align-items-center mb-3">
                                @((int)item.Price) VND
                            </p>
                            @*<p style="font-family: 'Quicksand', sans-serif; font-weight: 500">
                        Số lượng còn: @item.Amount sản phẩm
                        </p>*@
                        </div>
                        <div class="card_footer bg-transparent">
                            @if (@Model.Email != null)
                            {
                                @if (@item.IsNeedContact == true)
                                {
                                    <a asp-page="./Shop" class="cart-btn btn-card" style="font-family: 'Quicksand', sans-serif;">
                                        <i class="fas fa-shopping-cart"></i>
                                        Liên hệ cửa hàng
                                    </a>
                                }
                                else
                                {
                                    <a asp-page="./Cart" asp-route-id="@item.Id" class="cart-btn btn-card" style="font-family: 'Quicksand', sans-serif;">
                                        <i class="fas fa-shopping-cart"></i>
                                        Add to Cart
                                    </a>
                                }

                            }
                            else
                            {
                                @if (@item.IsNeedContact == true)
                                {
                                    <a asp-page="/Authenticate/Login" class="cart-btn btn-card" style="font-family: 'Quicksand', sans-serif;">
                                        <i class="fas fa-shopping-cart"></i>
                                        Liên hệ cửa hàng
                                    </a>
                                }
                                else
                                {
                                    <a asp-page="/Authenticate/Login" asp-route-id="@item.Id" class="cart-btn btn-card" style="font-family: 'Quicksand', sans-serif;">
                                        <i class="fas fa-shopping-cart"></i>
                                        Add to Cart
                                    </a>
                                }
                            }
                        </div>
                    </div>
                </div>
                }
            </div>
            <div id="pagination-container"></div>
        </div>
    </div>
    <!-- end products -->