@page
@model ComesticShop.Pages.ProductDetailModel
@{
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/assets/css/all.min.css">

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>See more Details</p>
                    <h1 style="font-family: 'Quicksand', sans-serif;">@Model.Product.Name</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- single product -->
<div class="single-product mt-150 mb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="single-product-img">
                    <img src="@Model.Product.Avatar" alt="">
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-content">
                    <h3 style="font-family: 'Quicksand', sans-serif;">@Model.Product.Name</h3>
                    <p style="font-family: 'Quicksand', sans-serif;">
                        <strong style="font-family: 'Quicksand', sans-serif;">
                            Thương hiệu:
                            <span class="orange-text" style="font-family: 'Quicksand', sans-serif;">
                                @Model.Product.Brand.Name
                            </span>
                        </strong>
                    </p>
                    <p style="font-family: 'Quicksand', sans-serif;">
                        <strong style="font-family: 'Quicksand', sans-serif;">
                            Categories:
                            <span class="orange-text" style="font-family: 'Quicksand', sans-serif;">
                                @Model.Product.Category.Name
                            </span>
                        </strong>
                    </p>
                    <p class="single-product-pricing" style="font-family: 'Quicksand', sans-serif; font-weight: 500">
                        @Model.Product.Price VND
                    </p>
                    <p style="font-family: 'Quicksand', sans-serif;">Summary: @Model.Product.Summary</p>
                    <div class="single-product-form">
                        @*<form action="index.html">
                                <input type="number" placeholder="0">
                          </form>*@
                        @if (@Model.Email != null)
                        {
                            <a asp-page="./Cart" asp-route-id="@Model.Product.Id" class="cart-btn" style="font-family: 'Quicksand', sans-serif;">
                                <i class="fas fa-shopping-cart"></i>
                                Add to Cart
                            </a>
                        }
                        else
                        {
                            <a asp-page="/Authenticate/Login" class="cart-btn" style="font-family: 'Quicksand', sans-serif;">
                                <i class="fas fa-shopping-cart"></i>
                                Add to Cart
                            </a>
                        }

                    </div>
                    @*<h4>Share:</h4>
        <ul class="product-share">
            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
            <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
            <li><a href=""><i class="fab fa-linkedin"></i></a></li>
        </ul>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end single product -->
<div class="product-section mt-150 mb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="height: 120px">
                <div class="product-filters">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".description">Mô tả sản phẩm</li>
                        <li data-filter=".usermanual">Hướng dẫn sử dụng</li>
                        <li data-filter=".element">Thành phần</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row product-lists" id="product-description-section" style="font-size: .875rem; border-bottom: 1px solid #9d691b;">
            <div class="product-detail-description-wrapper description" style="padding: 20px 0; border-top: 1px solid #9d691b;">
                <h2 class="product-detail-information-title" style=" font-family: 'Quicksand', sans-serif;
                        font-size: 1rem; font-weight: 600; text-transform: uppercase;">
                    Mô tả sản phẩm
                </h2>
                <div style="font-family: 'Quicksand', sans-serif; font-size: 1rem; font-weight: 400; ">
                    @Model.Product.Description
                </div>
            </div>

            <div class="product-user-manual-wrapper usermanual" style="padding: 20px 0; border-top: 1px solid #9d691b;">
                <h2 class="product-detail-information-title" style=" font-family: 'Quicksand', sans-serif;
                        font-size: 1rem; font-weight: 600; text-transform: uppercase;">
                    Hướng dẫn sử dụng
                </h2>
                <div style="font-family: 'Quicksand', sans-serif; font-size: 1rem; font-weight: 400;">
                    @Model.Product.UserManual
                </div>
            </div>

            <div class="product-user-manual-wrapper element" style="padding: 20px 0; border-top: 1px solid #9d691b;">
                <h2 class="product-detail-information-title" style=" font-family: 'Quicksand', sans-serif;
                        font-size: 1rem; font-weight: 600; text-transform: uppercase;">
                    Thành phần
                </h2>
                <div style="font-family: 'Quicksand', sans-serif; font-size: 1rem; font-weight: 400;">
                    @Model.Product.Element
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- more products -->
        <div class="more-products mb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <div class="section-title">
                            <h3><span class="orange-text">Sản Phẩm Liên Quan</span></h3>
                            @*<p>Những sản phẩm cùng Category sẽ xuất hiện (nhớ copy UI list sản phẩm bên Index)</p>*@
                        </div>
                    </div>
                </div>
                <div>
                    <a asp-page="/ProductByCategory" asp-route-id="@Model.Product.CategoryId" class="d-flex justify-content-end" style="font-family: 'Quicksand', sans-serif; font-weight: 400; color: black">
                        See more
                        <i style="padding-left: 5px; padding-top: 5px" class="fas fa-angle-right"></i>
                    </a>
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    @foreach (var item in Model.RelatedProduct)
                    {
                        <div class="list-item card col-md-4" style="border: 1px solid #F28123; border-radius: 1rem;">
                            <div class="product-image">
                                <a asp-page="/ProductDetail" asp-route-id="@item.Id">
                                    <img class="card-img-top" src="@item.Avatar" style="width: 100%; height: 380px" alt="">
                                </a>
                            </div>
                            <div class="card-body" style="width: 100%; height: 25%">
                                <div class="card-title" style="height: 120px">
                                    <h5 style="font-size: 1.6rem; line-height: 1.42em; letter-spacing: -0.5pt;
                                        color: #333; font-family: 'Quicksand', sans-serif; font-weight: 700 ">
                                        @item.Name
                                    </h5>
                                </div>
                                <p class="product-price" style="font-size: 1.2rem; color: #333;
                                        font-family: 'Quicksand', sans-serif; font-weight: 600 ">
                                    @item.Price VND
                                </p>
                                <p style="font-family: 'Quicksand', sans-serif; font-weight: 500">
                                    Số lượng còn: @item.Amount sản phẩm
                                </p>

                                @if (@Model.Email != null)
                                {
                                    <a asp-page="./Cart" asp-route-id="@item.Id" class="cart-btn" style="font-family: 'Quicksand', sans-serif;">
                                        <i class="fas fa-shopping-cart"></i>
                                        Add to Cart
                                    </a>
                                }
                                else
                                {
                                    <a asp-page="/Authenticate/Login" class="cart-btn" style="font-family: 'Quicksand', sans-serif;">
                                        <i class="fas fa-shopping-cart"></i>
                                        Add to Cart
                                    </a>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- end more products -->
