@page
@model ComesticShop.Pages.Admin.ProductPage.DetailsModel
@{
}

@if (@Model.Role == "1")
{
    <h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @((int)Model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.IsNeedContact)
        </dt>
        <dd class="col-sm-10">
            @(Model.Product.IsNeedContact == false ? "Không liên hệ cửa hàng":"Liên hệ cửa hàng")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ImgName1)
        </dt>
        <dd class="col-sm-10">
            <img src="~/ImagesPro/@Html.DisplayFor(model => model.Product.ImgName1)" height="100" width="120"/>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ImgName2)
        </dt>
        <dd class="col-sm-10">
            <img src="~/ImagesPro/@Html.DisplayFor(model => model.Product.ImgName2)" height="100" width="120"/>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ImgName3)
        </dt>
        <dd class="col-sm-10">
            <img src="~/ImagesPro/@Html.DisplayFor(model => model.Product.ImgName3)" height="100" width="120"/>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ImgName4)
        </dt>
        <dd class="col-sm-10">
            <img src="~/ImagesPro/@Html.DisplayFor(model => model.Product.ImgName4)" height="100" width="120"/>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ImgName5)
        </dt>
        <dd class="col-sm-10">
            <img src="~/ImagesPro/@Html.DisplayFor(model => model.Product.ImgName5)" height="100" width="120"/>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Summary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Summary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.AmountSold)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.AmountSold)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Element)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Element)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.UserManual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.UserManual)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Brand.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category.Type.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

}
else
{
    Response.Redirect("/Authenticate/Login");
}