@page
@model ComesticShop.Pages.Admin.ProductPage.IndexModel
@{
}
@if (@Model.Role == "1")
{
    <h1>Product</h1>

<p>
    <a asp-page="Create">Create New Product</a>
</p>
<table class="table" style="background-color: white; border-radius: 10px">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                Name
            </th>
            <th>
                Amount
            </th>
            <th>
                Price
            </th>
            <th>
                IsActive
            </th>
            <th>
                AmountSold
            </th>
            <th>
                DateCreated
            </th>
            <th>
                Brand
            </th>
            <th>
                Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="list-wrapper">
@foreach (var item in Model.Products) {
        <tr class="list-item">
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountSold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div id="pagination-container"></div>

}
else{
    Response.Redirect("/Authenticate/Login");
}
