@page
@model ComesticShop.Pages.Customers.CanclePageModel
@{
}
@if (@Model.Role == "3")
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/all.min.css">

    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <h1 style="font-family: 'Quicksand', sans-serif;">Xác Nhận Hủy Đơn Hàng</h1>
                        <h3 style="font-family: 'Quicksand', sans-serif;color: white">Bạn Có Muốn Hủy Đơn Hàng?</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
<h1></h1>


@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger text-center" role="alert">
        @ViewBag.ErrorMessage
    </div>
}
<div>
    <hr />
    <table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                Quantity
            </th>
            <th>
                Order
            </th>
            <th>
                Product
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderDetail) {
        <tr>
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
        </tr>
}
    </tbody>
</table>
    
    <form method="post">
        <input type="hidden" asp-for="OrderDetail.FirstOrDefault().Order.Id" />
        <input type="submit" value="Hủy" class="btn btn-danger" /> |
        <a asp-page="./OrderDetailPage" asp-route-id="@Model.OrderDetail.FirstOrDefault().Order.Id">Trở về danh sách</a>
    </form>
</div>
}
else{
    Response.Redirect("/Authenticate/Login");
}