@page
@model ComesticShop.Pages.Customers.OrderDetailPageModel
@{
}
@if (@Model.Role == "3")
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/all.min.css">

    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <h1 style="font-family: 'Quicksand', sans-serif;">Chi tiết đơn hàng</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb-section -->
    <!-- orderdetail -->
<div class="cart-section mt-100 mb-150">
    <div class="container">
        <div class="d-flex justify-content-start" style="padding-bottom: 20px">
            <a asp-page="./OrderHistory" class="boxed-btn">
                Back to OrderHistory
            </a>
        </div>
        <div class="row">
            <div class="col">
                <div class="cart-table-wrap" style="border: 1px solid rgb(200, 198, 198);">
                    <table class="cart-table">
                        <thead class="cart-table-head">
                            <tr class="table-head-row">
                                @*<th class="product-remove"></th>
                                <th class="product-image">Product Image</th>*@
                                <th class="product-image" style="font-family: 'Quicksand', sans-serif;">Product Image</th>
                                <th class="product-name" style="font-family: 'Quicksand', sans-serif;">Product Name</th>
                                <th class="product-name" style="font-family: 'Quicksand', sans-serif;">Product Brand</th>
                                <th class="product-name" style="font-family: 'Quicksand', sans-serif;">Address</th>
                                <th class="product-name" style="font-family: 'Quicksand', sans-serif;">Quantity</th>
                                <th class="product-name" style="font-family: 'Quicksand', sans-serif;">Status</th>
                                <th class="product-total" style="font-family: 'Quicksand', sans-serif;">Total</th>
                                <th class="product-name" style="font-family: 'Quicksand', sans-serif;">Action</th>
                            </tr>
                        </thead>
                        <tbody class="list-wrapper">
                            @foreach (var item in Model.OrderDetail)
                            {
                                    <tr class="list-item table-body-row">
                                        <td class="product-image">
                                            @if (item.Product.Image1 == null)
                                            {
                                                <p>No Content</p>
                                            }
                                            else
                                            {
                                                <img src="data:image/jpg;base64,@(Convert.ToBase64String(item.Product.Image1))" alt="">
                                            }
                                            
                                    </td>
                                    <td class="product-name" style="font-family: 'Quicksand', sans-serif;">
                                        @item.Product.Name
                                    </td>
                                    <td class="product-name">
                                        @item.Product.Brand.Name
                                    <td class="product-name" style="font-family: 'Quicksand', sans-serif;">
                                        @item.Order.ShippingAddress
                                    </td>
                                    <td class="product-quantity" style="font-family: 'Quicksand', sans-serif;">
                                        @item.Quantity
                                    </td>
                                    <td class="product-name" style="font-family: 'Quicksand', sans-serif;">
                                        @if (item.Order.OrderStatus == "Processing")
                                        {
                                            <div class="badge bg-secondary text-white rounded-pill" style="font-family: 'Quicksand', sans-serif;">@item.Order.OrderStatus</div>
                                        }
                                        @if (item.Order.OrderStatus == "Accepted")
                                        {
                                            <div class="badge bg-warning text-white rounded-pill" style="font-family: 'Quicksand', sans-serif;">@item.Order.OrderStatus</div>
                                        }
                                        @if (item.Order.OrderStatus == "Done")
                                        {
                                            <div class="badge bg-primary text-white rounded-pill" style="font-family: 'Quicksand', sans-serif;">@item.Order.OrderStatus</div>
                                        }
                                        @if (item.Order.OrderStatus == "Cancle")
                                        {
                                            <div class="badge bg-danger text-white rounded-pill" style="font-family: 'Quicksand', sans-serif;">@item.Order.OrderStatus</div>
                                        }
                                    </td>
                                    <td class="product-price" style="font-family: 'Quicksand', sans-serif;">
                                        @(item.Quantity * (int)item.Product.Price)
                                    </td>
                                    <td>
                                        @if (@item.Order.OrderStatus == "Processing")
                                        {
                                            <a class="btn btn-danger btn-sm" asp-page="/Customers/CanclePage" asp-route-id="@item.OrderId"
                                        style="font-family: 'Quicksand', sans-serif; border-radius: 8px">
                                                Cancle
                                                <!-- If else chỗ này, nếu mún disabled thằng nào thì ghi disabled trong class đó  -->
                                            </a>
                                        }
                                        else if (@item.Order.OrderStatus == "Cancel")
                                        {
                                            <a class="btn btn-danger btn-sm disabled" asp-page="/Customers/CanclePage" asp-route-id="@item.OrderId"
                                        style="font-family: 'Quicksand', sans-serif; border-radius: 8px">
                                                Cancle
                                                <!-- If else chỗ này, nếu mún disabled thằng nào thì ghi disabled trong class đó  -->
                                            </a>                                                
                                        }

                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                    <div id="pagination-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- end orderdetail -->
}
else
{
    Response.Redirect("/Authenticate/Login");
}
